# docker-compose.yaml
services:
  redis:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: ${REDIS_HOST}
    image: redis:7-alpine
    restart: unless-stopped
    expose:
      - "${REDIS_PORT}"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.125'
          memory: 128M

  meilisearch:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: meilisearch
    image: getmeili/meilisearch:v1.10
    restart: unless-stopped
    environment:
      - MEILI_MASTER_KEY=${MEILISEARCH_MASTER_KEY}
      - MEILI_NO_ANALYTICS=true
    expose:
      - "7700"
    volumes:
      - meili_data:/meili_data
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  wine_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    # build:
    #   context: .
    #   dockerfile: Dockerfile.postgres
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    # image: postgres:17-alpine
    image: ghcr.io/alexanderjkochnev/postgres:17-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "${POSTGRES_PORT}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_dump:/tmp

    healthcheck:
      test: |
        sh -c 'pg_isready -h localhost -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      # минимальная конфигурация для того что бы не было проблем с role root doesnnot exists
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.125'
          memory: 256M
  
  adminer:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: pg_admin
    image: ghcr.io/alexanderjkochnev/adminer:4.8.1
    # image: adminer:4.8.1
    restart: unless-stopped
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    depends_on:
      - wine_host
    ports:
      - "${ADMINER_PORTS}"
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.12'
          memory: 256M
  
  app:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: app
    build: .
    restart: unless-stopped
    command: uvicorn app.main:app --host ${API_HOST} --port ${API_PORT}
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
      redis:
        condition: service_started
      meilisearch:
        condition: service_started
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      WEB_PORT: ${API_PORT}
      WEB_HOST: ${API_HOST}
      BASE_URL: ${BASE_URL}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
      - ./upload_volume:/app/upload_volume
  #   networks:
  #     - pgnetwork
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  worker:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: arq_worker
    build: .
    restart: unless-stopped
    command: python -m app.arq_worker
    depends_on:
      - redis
      - wine_host
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST}
    volumes:
      - ./templates:/app/templates
      - ./migration_volume:/app/app/migration/versions
      - ./upload_volume:/app/upload_volume
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  mongo:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    image: ghcr.io/alexanderjkochnev/mongo:4.4.20
    container_name: ${MONGODB_CONTAINER_NAME}
    hostname: ${MONGO_HOSTNAME}
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: admin
    expose:
      - "${MONGO_INN_PORT}"
    # ports:
    #   - "${MONGO_OUT_PORT}:${MONGO_INN_PORT}"
    volumes:
      - ./mongodb_data:/data/db
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: >
      mongod
      --bind_ip_all
      --wiredTigerCacheSizeGB 0.25
      --storageEngine wiredTiger
      --journalCommitInterval 500
      --syncdelay 300
      --nojournal
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:${MONGO_INN_PORT}/admin --quiet --username admin --password admin
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  mongo-express:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    image: ghcr.io/alexanderjkochnev/mongo-express
    container_name: ${MONGO_EXPRESS_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${ME_CONFIG_MONGODB_ADMINUSERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${ME_CONFIG_MONGODB_ADMINPASSWORD}
      ME_CONFIG_MONGODB_SERVER: ${ME_CONFIG_MONGODB_SERVER}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
    ports:
      - "${ME_OUT_PORT}:${ME_INN_PORT}"
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${ME_INN_PORT}" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 512M
        reservations:
          cpus: '0.250'
          memory: 256M
  
  preact_front:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    build:
      context: ./preact_front          # путь к папке с Preact
      dockerfile: Dockerfile.dev       # имя Dockerfile внутри ./preact_front
    container_name: preact_front
    ports:
      - "${PREACT_PORT}:5173"                    # хост:контейнер (порт Vite по умолчанию — 5173)
    volumes:
      # - ./preact_front:/app            # монтируем исходники
      # - /app/node_modules              # сохраняем node_modules из контейнера
      - ./preact_front/src:/app/src
      - ./preact_front/public:/app/public
      - ./preact_front/package.json:/app/package.json
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true  # для работы hot-reload в Docker ?
    stdin_open: true
    tty: true
    restart: unless-stopped
    depends_on:
      wine_host:
        condition: service_healthy
      mongo:
        condition: service_healthy
  
volumes:
  migration_volume: # alembic migrations
  pg_data: # postgresql data
  pg_dump: # postgres dump/restore
  mongodb_data:
  upload_volume:
